{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "bracketSameLine": true,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 120
}
